{{!-- homepage --}}
<div class="blogPostContainer">
    {{#each blogPosts as |blogPost|}}

        <a href="/post/{{ blogPost.id }}"><h1 class="blogTitle">{{ blogPost.title }}</h1></a>
        <h4 class="userName">By: {{ blogPost.user.name }}</h4>
        <p class="blogDescription">{{ blogPost.description }}</p>
        <p class="blogDateCreated">{{ format_date blogPost.date_created }}</p>
        {{!-- <button class="btn btn-primary" type="submit">Add Comment</button> --}}

    {{/each}}
</div>

{{log this}}