{{!-- create a post --}}
<h1>Create Post</h1>
<form class="newPostForm">
    <form class="form login-form">
      <div class="form-group">
        <label for="blogTitle">Title:</label>
        <input class="form-input" type="text" id="blogTitleEnter" />
      </div>
      <div class="form-group">
        <label for="blogDescription">Description:</label>
        <input class="form-input" type="text" id="blogDescriptionEnter"/>
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">Submit</button>
      </div>
    </form>
</form>

{{!-- need blog post already created --}}
<h1>Current Posts</h1>

<div class="blogPostContainer">
    {{#each blogPosts as |blogPost|}}
        <a href=`/user/${blogPost.id}`></a>
        <h2 class="blogTitle">{{ blogPost.title }}</h2>   
        <p class="blogDescription">{{ blogPost.description }}</p>
        <button class="editButton" id="onClick"><a href="/edit/{{ blogPost.id }}">Edit</a></button>
        <button class="deleteButton" data-id={{ blogPost.id }} id="onClick">Delete</button>
    {{/each}}
</div>

{{log this}}

{{!-- take user to edit a post in different handlebars template --}}
<script src="/js/profile.js"></script>